.intro{
  padding-left: 15%;
  padding-right: 30%;
  padding-top: 100px;
}

.intro p{
  margin:10px;
}

.intro .name{
  font-size: 60px;
  font-weight: bolder;
}

.intro .motto{
  font-size: 60px;
  font-weight: bolder;
  color: rgb(112, 112, 112);
}

.intro .pitch{
  padding-right: 30%;
}