.intro {
  padding-left: 15%;
  padding-right: 30%;
  padding-top: 10vh;
  height: 87vh;
}


.intro p {
  margin: 2vh;
  font-size: 2.5vh;
  backdrop-filter: blur(2px);
}

.intro .name {
  font-size: 10vh;
  font-weight: bolder;
}

.intro .motto {
  font-size: 10vh;
  font-weight: bolder;
  color: rgb(112, 112, 112);
}

.intro .motto.hidden {
  font-weight: bolder;
  visibility: hidden;
}

.intro .pitch.hidden {
  opacity: 0%;
}

.intro .pitch {
  transition: 1s;
  opacity: 100%;
  padding-right: 30%;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 85vh;
  width: 100%;
  font-size: 5vh;
  --fa-animation-duration: 2s;
}

.icon-container i {
  backdrop-filter: blur(2px);
}