@media (min-aspect-ratio: 4/3) {
  .project-container{
    display: flex;
    justify-content: space-around;
    padding-left: 18%;
    padding-right: 18%;
    flex-wrap: wrap;
  
  
    width: 100%;
    margin-top:10px;
    margin-bottom:1000px;
  }
  section.myProjects > h1 {
    padding-left: 15%;
    padding-top: 8vh;
    margin: 0;
    color: rgb(112, 112, 112);
  }
}