@media (min-aspect-ratio: 4/3) {
  iframe {
    width: 900px;
    height: 1200px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
  }

  .resumeContainer {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (max-aspect-ratio: 4/3) {
  iframe {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    overflow-x: hidden;
  }

  .resumeContainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    height: 90vh;   
  }
}