.single-project {
  width: 25vw;
  height: 15vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.single-project .text{
  transition: 1s;
  position:relative;
  top: 4vw;
  left:2.5vw;
  backdrop-filter: blur(3px) brightness(40%);
  text-align: center;
  /* background-color: black; */
  color: white;
  width: 20vw;
}

.single-project .text.hidden{
  position:relative;
  height: 0px;
  top: 7vw;
  opacity: 0%;
}


.single-project h1{
  padding: 0px;
  margin: 0px;
}